{% extends "layout.html"%}

{% block title %}
    On campus opportunities
{% endblock %}

{% block main %}
    <section>
        <div class="flex-container">
            <table style="width:80%" class="table table-secondary table-striped">
                <thead">
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                </tr>
                </thead>
            </table>
        </div>
    </section>
    {% for i in table %}
        <tr>
            <th scope="row" style="font-weight:normal">{{ i["event"]}}</th>
            <td>{{ i["date"] }}</td>
            <td>{{ i["time"] }}</td>
            <td><button type="button" class="btn btn-primary">Sign Up</button></td>
        </tr>
    {% endfor %}
{% endblock %}